/*CSS for mobiles */
.note
{
    display:flex;
    height: 150px;
    background: -webkit-linear-gradient(left, #5893e0, #f25a5f);
    color: #fff;
    font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight:bold;

}
#instructions{
    display: flex;
    padding-top:100px;
    color: yellow;
    padding: 15px;
}

#instructions .Chummies {
   
    border: 10px;
    border-style: solid;
    border-color: #8b3396;
    text-align: center;
}
#instructions .Chummies h2{
    font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
    font-size: 40px;
    color: black;
    line-height: 1.2;
}
#instructions .Chummies h3{
    font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
    font-size: 20px;
    color: black;
    line-height: 2;
}

#instructions .Agents {

    border: 10px;
    border-style: solid;
    border-color: #8b3396;
    text-align: center;
}
#instructions .Agents h2{
     font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
    font-size: 40px;
    color: black;
    line-height: 1.2;
}
#instructions .Agents h3{
    font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
    font-size: 20px;
    color: black;
    line-height: 2.7;
}

/* CSS FOR tablets */
@media only screen and (min-width: 768px) {
    .note   {
            display:flex;
            height: 100px;
            color: #fff;
            font-size: 20px;
            text-align: center;

    }
    #instructions  {
        display:flex;
        flex-direction:column;
    }
    #instructions .Chummies {
        display:flex;
        flex-direction:column;
        padding-right: 113px;
        background: -webkit-linear-gradient(#5893e0,#f25a5f);
        border: 10px;
        border-style: solid;
        border-color: #8b3396;
    }
    #instructions .Chummies h2{
        font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
        font-size: 40px;
        color: black;
        line-height: 1.2;
        text-align:center;
    }
    #instructions .Chummies h3{
        font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
        font-size: 20px;
        color: black;
        line-height: 2;
        text-align:center;
    }

    #instructions .Agents {
        margin-top:50px;
        display:flex;
        flex-direction:column;
        background: -webkit-linear-gradient(#5893e0,#f25a5f);
        border: 10px;
        border-style: solid;
        border-color: #8b3396;
        text-align: center;
    }
    #instructions .Agents h2{
         font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
        font-size: 40px;
        color: black;
        line-height: 1.2;
    }
    #instructions .Agents h3{
        font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
        font-size: 20px;
        color: black;
        line-height: 2.7;

    }
}

/* DISPLAY FOR Computers */
@media only screen and (min-width: 992px) {
    .note   {
            display:flex;
            flex-direction:column;
            height: 100px;
            color: #fff;
            font-size: 30px;
            text-align: center;

    }
    #instructions  {
        display:flex;
        flex-direction:column;
    }
    #instructions .Chummies {
        display:flex;
        flex-direction:column;
        background: -webkit-linear-gradient(#5893e0,#f25a5f);
        border: 10px;
        border-style: solid;
        border-color: #8b3396;
        text-align:center;
    }
    #instructions .Chummies h2{
        font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
        font-size: 40px;
        color: white;
        line-height: 1.2;
        text-align:center;
    }
    #instructions .Chummies h3{
        font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
        font-size: 20px;
        color: black;
        line-height: 2;
    }

    #instructions .Agents {
        margin-top:50px;
        display:flex;
        flex-direction:column;
        background: -webkit-linear-gradient(#5893e0,#f25a5f);
        border: 10px;
        border-style: solid;
        border-color: #8b3396;
        text-align: center;
    }
    #instructions .Agents h2{
        font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
        font-size: 40px;
        color: white;
        line-height: 1.2;
    }
    #instructions .Agents h3{
        font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
        font-size: 20px;
        color: black;
        line-height: 2.7;

    }
}

/* DISPLAY FOR Computers */
@media only screen and (min-width: 1200px) {
    .note   {
            display:flex;
            flex-direction:column;
            height: 100px;
            color: #fff;
            font-size: 30px;
            text-align: center;

    }
    #instructions  {
        display:flex;
        flex-direction:column;
    }
    #instructions .Chummies {
        display:flex;
        flex-direction:column;
        border: 10px;
        border-style: solid;
        border-color: #8b3396;
        text-align:center;
    }
    #instructions .Chummies h2{
        font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
        font-size: 40px;
        color: black;
        line-height: 1.2;
        text-align:center;
    }
    #instructions .Chummies h3{
        font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
        font-size: 20px;
        color: black;
        line-height: 2;
    }

    #instructions .Agents {
        margin-top:50px;
        display:flex;
        flex-direction:column;
        border: 10px;
        border-style: solid;
        border-color: #8b3396;
        text-align: center;
    }
    #instructions .Agents h2{
        font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
        font-size: 40px;
        color: black;
        line-height: 1.2;
    }
    #instructions .Agents h3{
        font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
        font-size: 20px;
        color: black;
        line-height: 2.7;

    }
}